{
  "env": {
    "browser": false,
    "es6": false,
    "node": true
  },
  "globals": {
    "Parse": true,
    "document": false,
    "navigator": false,
    "window": false
  },
  "rules": {
    "prefer-arrow-callback": 0,
    "no-var": 0
  }
}
