#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_21 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf #m-2d2334f8-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#m-2d2334f8-405c-4f25-84d1-1335770f9baf.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}