#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0708b2ad-4fc7-49f5-b562-9c2309b6eb7b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}