#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1b8aaeac-8b40-4f03-8ed1-e0f46e3f145b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}