#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 3000px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_1 {
  position: absolute;
  top: 116px;
  left: 120px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Light,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 22.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 62px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 2px 3px 0px #F3F3F3;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Line_6 {
  position: absolute;
  top: 59px;
  left: 228px;
  width: 148px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_18 {
  position: absolute;
  top: 23px;
  left: 879px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_19 {
  position: absolute;
  top: 24px;
  left: 57px;
  width: 97px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_20 {
  position: absolute;
  top: 4px;
  left: 21px;
  width: 35px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_21 {
  position: absolute;
  top: 14px;
  left: 975px;
  width: 33px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_14 {
  position: absolute;
  top: 178px;
  left: 120px;
  width: 418px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_6 {
  position: absolute;
  top: 227px;
  left: 120px;
  width: 296px;
  height: 34px;
  background-color: #66A62E;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 3px 0px #404040;
  text-shadow: none;
  cursor: pointer;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Master_item_1 div.offset {
  position: relative;
  top: 0px;
  left: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Master_item_1 {
  position: absolute;
  top: 306px;
  left: 0px;
  width: 1024px;
  height: 2673px;
  overflow: visible;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-CongratsAlert {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 3000px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 3000px;
  background-color: #000000;
  background-image: none;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_10 {
  position: absolute;
  top: 275px;
  left: 235px;
  width: 555px;
  height: 325px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 3px 5px 0px #404040;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Group_2 {
  position: absolute;
  top: 297px;
  left: 257px;
  width: 514px;
  height: 282px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_34 {
  position: absolute;
  top: 4px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Light,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_34 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 22.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_34 span#rtr-s-Text_34_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_15 {
  position: absolute;
  top: 62px;
  left: 3px;
  width: 505px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_11 {
  position: absolute;
  top: 246px;
  left: 200px;
  width: 306px;
  height: 34px;
  background-color: #66A62E;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 3px 0px #404040;
  text-shadow: none;
  cursor: pointer;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_12 {
  position: absolute;
  top: 246px;
  left: 76px;
  width: 110px;
  height: 34px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 3px 0px #404040;
  text-shadow: none;
  cursor: pointer;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_119 > svg {
  width: 24px;
  height: 24px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_119 {
  position: absolute;
  top: 0px;
  left: 490px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_17 {
  position: absolute;
  top: 24px;
  left: 425px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_16 {
  position: absolute;
  top: 24px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}