#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Image_119 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-257639ed-fd6f-42ae-96d3-9ca14afa8a4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}