#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 850px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_1 {
  position: absolute;
  top: 116px;
  left: 133px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: Roboto-Light,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 22.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_5 {
  position: absolute;
  top: 763px;
  left: 755px;
  width: 127px;
  height: 34px;
  background-color: #66A62E;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 1px 3px 0px #404040;
  text-shadow: none;
  cursor: pointer;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_1 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_1 {
  position: absolute;
  top: 235px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_2 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_2 {
  position: absolute;
  top: 275px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_2 {
  position: absolute;
  top: 234px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_3 {
  position: absolute;
  top: 274px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_3 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_3 {
  position: absolute;
  top: 315px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_4 {
  position: absolute;
  top: 314px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_4 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_4 {
  position: absolute;
  top: 435px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_5 {
  position: absolute;
  top: 385px;
  left: 133px;
  width: 602px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_5 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_5 {
  position: absolute;
  top: 475px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_6 {
  position: absolute;
  top: 434px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_7 {
  position: absolute;
  top: 474px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_6 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_6 {
  position: absolute;
  top: 515px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_8 {
  position: absolute;
  top: 514px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_7 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_7 {
  position: absolute;
  top: 625px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_9 {
  position: absolute;
  top: 575px;
  left: 133px;
  width: 602px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_8 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_8 {
  position: absolute;
  top: 665px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_10 {
  position: absolute;
  top: 624px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_11 {
  position: absolute;
  top: 664px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  overflow: hidden;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_9 .content {
  width: 20px;
  height: 20px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_9 {
  position: absolute;
  top: 705px;
  left: 133px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_12 {
  position: absolute;
  top: 704px;
  left: 163px;
  width: 317px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 62px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 2px 3px 0px #F3F3F3;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Line_6 {
  position: absolute;
  top: 59px;
  left: 228px;
  width: 148px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_18 {
  position: absolute;
  top: 23px;
  left: 879px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Image_19 {
  position: absolute;
  top: 24px;
  left: 57px;
  width: 97px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Image_20 {
  position: absolute;
  top: 4px;
  left: 21px;
  width: 35px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Image_21 {
  position: absolute;
  top: 14px;
  left: 975px;
  width: 33px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_13 {
  position: absolute;
  top: 185px;
  left: 133px;
  width: 602px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_13 span#rtr-s-Paragraph_13_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_17 {
  position: absolute;
  top: 24px;
  left: 425px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_16 {
  position: absolute;
  top: 24px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}