#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a35b00e-bfe4-41b9-aaaa-d00cd60fd105 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}