#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}