#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #66A62E;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5722;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5722;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5722;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5722;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #66A62E;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #66A62E;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FF5722;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FF5722;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FF5722;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FF5722;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Ellipse_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #66A62E;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-48464aec-0fbc-47dc-bfac-170d2ebe39cc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}