#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66e28f84-b852-40f5-aa6f-060ab3fbecbb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}