#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7903cd48-4202-4c38-8896-13a9e01d0890 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}