#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_7 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DFDFDF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DFDFDF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Ellipse_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DFDFDF;
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a63d0c70-9248-49cf-9ffa-a996d786e6b9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}