#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 1000px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_14 {
  position: absolute;
  top: 107px;
  left: 39px;
  width: 944px;
  height: 780px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 2px 3px 0px #F3F3F3;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_1 {
  position: absolute;
  top: 324px;
  left: 78px;
  width: 870px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 62px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 2px 3px 0px #F3F3F3;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_18 {
  position: absolute;
  top: 23px;
  left: 879px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Medium,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_18 span#rtr-s-Text_18_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Medium,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_19 {
  position: absolute;
  top: 24px;
  left: 57px;
  width: 97px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_20 {
  position: absolute;
  top: 4px;
  left: 21px;
  width: 35px;
  height: 54px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_21 {
  position: absolute;
  top: 14px;
  left: 975px;
  width: 33px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_9 {
  position: absolute;
  top: 59px;
  left: 375px;
  width: 148px;
  height: 5px;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_13 {
  position: absolute;
  top: 108px;
  left: 40px;
  width: 944px;
  height: 62px;
  background-color: #4CAF50;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_13 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_10 {
  position: absolute;
  top: 165px;
  left: 338px;
  width: 148px;
  height: 6px;
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_58 {
  position: absolute;
  top: 287px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_58 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_58 span#rtr-s-Text_58_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_63 {
  position: absolute;
  top: 287px;
  left: 481px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_63 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_63 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_63 span#rtr-s-Text_63_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_64 {
  position: absolute;
  top: 287px;
  left: 284px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_64 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_64 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_64 span#rtr-s-Text_64_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_1 {
  position: absolute;
  top: 324px;
  left: 77px;
  width: 871px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_60 {
  position: absolute;
  top: 339px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_60 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_60 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_60 span#rtr-s-Text_60_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_67 {
  position: absolute;
  top: 339px;
  left: 481px;
  width: 478px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_67 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_67 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_67 span#rtr-s-Text_67_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_117 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_117 {
  position: absolute;
  top: 339px;
  left: 914px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_8 {
  position: absolute;
  top: 208px;
  left: 772px;
  width: 174px;
  height: 39px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_135 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_135 {
  position: absolute;
  top: 219px;
  left: 791px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_59 {
  position: absolute;
  top: 219px;
  left: 828px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_59 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_59 span#rtr-s-Text_59_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_109 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_109 {
  position: absolute;
  top: 831px;
  left: 866px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_110 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_110 {
  position: absolute;
  top: 831px;
  left: 908px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_94 {
  position: absolute;
  top: 831px;
  left: 768px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_94 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_94 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_94 span#rtr-s-Text_94_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_53 {
  position: absolute;
  top: 131px;
  left: 78px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_53 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_53 span#rtr-s-Text_53_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_54 {
  position: absolute;
  top: 131px;
  left: 225px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_54 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_54 span#rtr-s-Text_54_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_55 {
  position: absolute;
  top: 129px;
  left: 373px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_55 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_55 span#rtr-s-Text_55_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_56 {
  position: absolute;
  top: 129px;
  left: 521px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_56 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_56 span#rtr-s-Text_56_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_17 {
  position: absolute;
  top: 24px;
  left: 425px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_1 {
  position: absolute;
  top: 339px;
  left: 284px;
  width: 114px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_2 {
  position: absolute;
  top: 421px;
  left: 78px;
  width: 870px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_2 {
  position: absolute;
  top: 421px;
  left: 77px;
  width: 871px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_61 {
  position: absolute;
  top: 436px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_61 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_61 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_61 span#rtr-s-Text_61_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_68 {
  position: absolute;
  top: 436px;
  left: 481px;
  width: 478px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_68 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_68 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_68 span#rtr-s-Text_68_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_118 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_118 {
  position: absolute;
  top: 436px;
  left: 914px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_2 {
  position: absolute;
  top: 436px;
  left: 284px;
  width: 114px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_3 {
  position: absolute;
  top: 518px;
  left: 77px;
  width: 870px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_3 {
  position: absolute;
  top: 518px;
  left: 76px;
  width: 871px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_62 {
  position: absolute;
  top: 533px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_62 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_62 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_62 span#rtr-s-Text_62_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_69 {
  position: absolute;
  top: 533px;
  left: 480px;
  width: 478px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_69 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_69 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_69 span#rtr-s-Text_69_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_119 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_119 {
  position: absolute;
  top: 533px;
  left: 913px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_3 {
  position: absolute;
  top: 533px;
  left: 283px;
  width: 114px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_4 {
  position: absolute;
  top: 615px;
  left: 78px;
  width: 870px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_4 {
  position: absolute;
  top: 615px;
  left: 77px;
  width: 871px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_65 {
  position: absolute;
  top: 630px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_65 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_65 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_65 span#rtr-s-Text_65_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_70 {
  position: absolute;
  top: 630px;
  left: 481px;
  width: 478px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_70 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_70 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_70 span#rtr-s-Text_70_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_120 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_120 {
  position: absolute;
  top: 630px;
  left: 914px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_4 {
  position: absolute;
  top: 630px;
  left: 284px;
  width: 114px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_5 {
  position: absolute;
  top: 712px;
  left: 77px;
  width: 870px;
  height: 97px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Line_5 {
  position: absolute;
  top: 712px;
  left: 76px;
  width: 871px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_66 {
  position: absolute;
  top: 727px;
  left: 88px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_66 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_66 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_66 span#rtr-s-Text_66_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_71 {
  position: absolute;
  top: 727px;
  left: 480px;
  width: 478px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_71 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_71 span#rtr-s-Text_71_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_121 > svg {
  width: 20px;
  height: 20px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Image_121 {
  position: absolute;
  top: 727px;
  left: 913px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_5 {
  position: absolute;
  top: 727px;
  left: 283px;
  width: 114px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_16 {
  position: absolute;
  top: 24px;
  left: 258px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-b01613ae-9e99-4dbc-ba1f-c49d1ec4dfab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}