#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #66A62E;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #66A62E;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #66A62E;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #66A62E;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Rectangle_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Line_6 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #66A52E;
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}