#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bc4db288-0bef-4f6c-ae5e-901bc8048389 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}